<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reporte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>        
    <ion-row>
      <ion-col col-4>Descripcion</ion-col>
      <ion-col col-2>Cantidad</ion-col>      
      <ion-col col-6></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items">
      <ion-col ion-item col-4>{{item.nombre}}</ion-col>
      <ion-col ion-item col-2>{{item.cant}}</ion-col>      
      <ion-col ion-item col-6>        
      </ion-col>
    </ion-row>    
  </ion-grid>  
</ion-content>
